@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'GuardianRegular';
		src: url('../fonts/GuardianEgyp-Regular-Web.svg#Guardian Egyptian Web') format('svg');
	}
	@font-face {
		font-family: 'GuardianBold';
		src: url('../fonts/GuardianEgyp-Semibold-Web.svg#Guardian Egyptian Web') format('svg');
	}
	@font-face {
		font-family: 'GuardianItalic';
		src: url('../fonts/GuardianEgyp-RegularIt-Web.svg#Guardian Egyptian Web') format('svg');
	}
}
@font-face {
	font-family: 'GuardianRegular';
	src: url('../fonts/GuardianEgyp-Regular-Web.eot');
	src: url('../fonts/GuardianEgyp-Regular-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GuardianEgyp-Regular-Web.woff') format('woff'),
	url('../fonts/GuardianEgyp-Regular-Web.ttf') format('truetype'),
	url('../fonts/GuardianEgyp-Regular-Web.svg#Guardian Egyptian Web') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'GuardianBold';
	src: url('../fonts/GuardianEgyp-Semibold-Web.eot');
	src: url('../fonts/GuardianEgyp-Semibold-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GuardianEgyp-Semibold-Web.woff') format('woff'),
	url('../fonts/GuardianEgyp-Semibold-Web.ttf') format('truetype'),
	url('../fonts/GuardianEgyp-Semibold-Web.svg#Guardian Egyptian Web') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'GuardianItalic';
	src: url('../fonts/GuardianEgyp-RegularIt-Web.eot');
	src: url('../fonts/GuardianEgyp-RegularIt-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GuardianEgyp-RegularIt-Web.woff') format('woff'),
	url('../fonts/GuardianEgyp-RegularIt-Web.ttf') format('truetype'),
	url('../fonts/GuardianEgyp-RegularIt-Web.svg#Guardian Egyptian Web') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}