/* Sticky footer styles -------------------------------------------------- */
html {position: relative;min-height: 100%;}
body { /* Margin bottom by footer height */ margin-bottom: 250px;}
footer {position: absolute;bottom: -250px;width: 100%; /* Set the fixed height of the footer here */ height: 210px;min-width:960px;background:#ffeed0;padding:20px 0;}
.goog-te-gadget-simple{border:none!important;background:none!important;}
.goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple>img {display: none !important;}
.goog-te-gadget-simple .goog-te-menu-value{font-family: 'GuardianBold'!important;color:#fff!important;font-size:12px;}
.goog-te-gadget-simple .goog-te-menu-value:hover{text-decoration:none !important;}
.goog-te-gadget-simple .goog-te-menu-value span{border:none !important;color:#fff !important;}
.goog-te-menu2-item div{color:#ed1c24 !important;}

.bintang .rating-symbol, .bintang .fa-star {
  color: #c01d28 !important;
}
.breadcrumb li::before {
  color: #fff;
}
.fitin {
  width: 365px;
  height: 40px;
  overflow: hidden;
  font-size: 3em;
  margin-left: 15px;
  }
.restos {
  width: 365px;
  height: 25px;
  overflow: hidden;
  margin-left: 15px;
}
.restos_al {
  width: 93%;
  height: 25px;
  overflow: hidden;
  font-size: 3em;
  margin-left: 4%;
}
div#lightp {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
.piagam-isi{
  width: 88%;
    position: absolute;
}
.piagam-isi div .h1{
    position: absolute;
    top: 160px;
    text-align: center;
    width: 94%;
    padding: 0 10px;
    color: #c00606;
    font-weight: bold;
}
.piagam-isi .alamat{
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
}
.piagam-isi .negara{
  position: absolute;
  top: 229px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
}
.piagam-isi .bintang{
  position: absolute;
  top: 272px;
  font-size: 55px;
  text-align: center;
  width: 100%;
  color: #000;
}
.piagam-isi .rating-symbol-background.glyphicon.glyphicon-star-empty {
    display: none;
}
.piagam-isi .rating{
  position: absolute;
  top: 345px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: bolder;
}

.piagam-isi .world{
    position: absolute;
    top: 398px;
    text-align: left;
    left: 56px;
    width: 40px;
    font-size: 9px;
    font-weight: bolder;
}
.piagam-isi .ranknegara{
    position: absolute;
    top: 398px;
    text-align: left;
    left: 126px;
    width: 40px;
    font-size: 9px;
    font-weight: bolder;
}
.piagam-isi .rankstate{
    position: absolute;
    top: 398px;
    text-align: left;
    left: 196px;
    width: 40px;
    font-size: 9px;
    font-weight: bolder;
}
.piagam-isi .rankcity{
    position: absolute;
    top: 398px;
    text-align: left;
    left: 265px;
    width: 40px;
    font-size: 9px;
    font-weight: bolder;
}
.piagam-isi .rankmall{
    position: absolute;
    top: 398px;
    text-align: left;
    left: 334px;
    width: 40px;
    font-size: 9px;
    font-weight: bolder;
}
.piagam-isi .tahun {
    position: absolute;
    top: 442px;
    text-align: left;
    left: 234px;
    font-size: 15px;
    font-weight: bolder;
    font-family: myriad pro;
    color: #c61c29;
}
.piagam-isi .tahuna {
    position: absolute;
    top: 464px;
    text-align: left;
    left: 308px;
    font-size: 14px;
    font-weight: bolder;
    font-family: myriad pro;
    color: #c58332;
}



#map{
  height: 83% !important;
}
.piagam-isi-food{
  width: 88%;
    position: absolute;
}
.piagam-isi-food .h1a{
  position: absolute;
  top: 152px;
  text-align: center;
  width: 93%;
  color: #c01d28;
  font-weight: bold;
}
.piagam-isi-food .h1 {
  position: absolute;
  top: 223px;
  text-align: center;
  width: 94%;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.piagam-isi-food .of{
  position: absolute;
  top: 191px;
  text-align: center;
  width: 100%;
  color: #000000;
  font-size: 15px;
}
.piagam-isi-food .alamat{
  position: absolute;
  top: 246px;
  text-align: center;
  width: 94%;
  color: #000;
  font-size: 16px;
}
.piagam-isi-food .negara{
  position: absolute;
  top: 270px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
}
.piagam-isi-food .bintang{
  position: absolute;
  top: 314px;
  font-size: 55px;
  text-align: center;
  width: 100%;
  color: #000;
}
.piagam-isi-food .rating-symbol-background.glyphicon.glyphicon-star-empty {
    display: none;
}
.piagam-isi-food .rating{
  position: absolute;
  top: 380px;
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: bolder;
}
.piagam-isi-food .world{
  position: absolute;
  top: 430px;
  text-align: left;
  left: 63px;
  width: 40px;
  font-size: 9px;
  font-weight: bolder;
}
.piagam-isi-food .ranknegara{
  position: absolute;
  top: 430px;
  text-align: left;
  left: 132px;
  width: 40px;
  font-size: 9px;
  font-weight: bolder;
}
.piagam-isi-food .rankstate{
  position: absolute;
  top: 430px;
  text-align: left;
  left: 202px;
  width: 40px;
  font-size: 9px;
  font-weight: bolder;
}
.piagam-isi-food .rankcity{
  position: absolute;
  top: 430px;
  text-align: left;
  left: 271px;
  width: 40px;
  font-size: 9px;
  font-weight: bolder;
}
.piagam-isi-food .rankmall{
  position: absolute;
  top: 430px;
  text-align: left;
  left: 341px;
  width: 40px;
  font-size: 9px;
  font-weight: bolder;
}
.piagam-isi-food .tahun{
  position: absolute;
  top: 471px;
  text-align: left;
  left: 237px;
  font-size: 15px;
  font-weight: bolder;
  font-family: myriad pro;
  color: #c61c29;
}
.piagam-isi-food .tahuna {
    position: absolute;
    top: 492px;
    text-align: left;
    left: 308px;
    font-size: 13px;
    font-weight: bolder;
    font-family: myriad pro;
    color: #c58332;
}
.black_overlay {
  position: fixed !important;
}

















  .kananku{
    margin-top: 25px;
  }

@media (max-width: 975px) and (min-width: 200px) {
  .kananku{
    margin-top: 25px;
  }
  .fitin {
    width: 98%;
    height: 30px;
    overflow: hidden;
    font-size: 3em;
    margin-left: 4%;
  }
  .restos {
    width: 93%;
    height: 25px;
    overflow: hidden;
    font-size: 3em;
    margin-left: 4%;
  }
  .restos_al {
    width: 93%;
    height: 20px;
    overflow: hidden;
    font-size: 3em;
    margin-left: 4%;
  }
  div#lightp {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 324px !important;
    height: 475px !important;
    padding: 24px !important;
  }
  .piagam-isi div .h1 {
      position: absolute;
      top: 101px;
      text-align: center;
      width: 94%;
      padding: 0 10px;
      color: #c00606;
      font-weight: bold;
  }
.piagam-isi .alamat {
    position: absolute;
    top: 131px;
    text-align: center;
    width: 92%;
    color: #000;
    font-size: 16px;
}
.piagam-isi .rankstate {
    position: absolute;
    top: 271px;
    text-align: left;
    left: 132px;
    width: 40px;
    font-size: 6px;
    font-weight: bolder;
}
.piagam-isi .rankcity {
    position: absolute;
    top: 271px;
    text-align: left;
    left: 179px;
    width: 40px;
    font-size: 6px;
    font-weight: bolder;
}
.piagam-isi .rankmall {
    position: absolute;
    top: 271px;
    text-align: left;
    left: 227px;
    width: 40px;
    font-size: 6px;
    font-weight: bolder;
}
.piagam-isi .negara {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 16px;
}
.piagam-isi .world {
    position: absolute;
    top: 271px;
    text-align: left;
    left: 38px;
    width: 40px;
    font-size: 6px;
    font-weight: bolder;
}
.piagam-isi .ranknegara {
    position: absolute;
    top: 271px;
    text-align: left;
    left: 85px;
    width: 40px;
    font-size: 6px;
    font-weight: bolder;
}
.piagam-isi .bintang {
    position: absolute;
    top: 184px;
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: #000;
}
.piagam-isi .rating {
    position: absolute;
    top: 231px;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: bolder;
}
  .piagam-isi-food {
    width: 85%;
    position: absolute;
  }
  .piagam-isi {
    width: 85%;
    position: absolute;
  }
  .piagam-isi-food .alamat {
    position: absolute;
    top: 163px;
    text-align: center;
    width: 93%;
    color: #000;
    font-size: 16px;
}
.piagam-isi-food .negara {
    position: absolute;
    top: 178px;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 16px;
}
.piagam-isi-food .bintang {
    position: absolute;
    top: 210px;
    font-size: 35px;
    text-align: center;
    width: 100%;
    color: #000;
}
.piagam-isi-food .rating {
    position: absolute;
    top: 257px;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: bolder;
}
.piagam-isi-food .world {
    position: absolute;
    top: 291px;
    text-align: left;
    left: 43px;
    width: 40px;
    font-size: 7px;
    font-weight: bolder;
}
.piagam-isi-food .ranknegara {
    position: absolute;
    top: 290px;
    text-align: left;
    left: 91px;
    width: 40px;
    font-size: 7px;
    font-weight: bolder;
}
.piagam-isi-food .rankstate {
    position: absolute;
    top: 290px;
    text-align: left;
    left: 137px;
    width: 40px;
    font-size: 7px;
    font-weight: bolder;
}
.piagam-isi-food .rankcity {
    position: absolute;
    top: 290px;
    text-align: left;
    left: 183px;
    width: 40px;
    font-size: 7px;
    font-weight: bolder;
}
.piagam-isi-food .rankmall {
    position: absolute;
    top: 290px;
    text-align: left;
    left: 231px;
    width: 40px;
    font-size: 7px;
    font-weight: bolder;
}
  .piagam-isi h1.s2 {
      top: 94px;
      font-size: 14px;
  }
  .piagam-isi-food .h1a{
    position: absolute;
    top: 102px;
    text-align: center;
    width: 93%;
    color: #c01d28;
  }
  .piagam-isi-food h1 {
    position: absolute;
    top: 147px;
    text-align: center;
    width: 92%;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
  .piagam-isi-food .of {
    position: absolute;
    top: 128px;
    text-align: center;
    width: 100%;
    color: #000000;
    font-size: 15px;
  }
  .piagam-isi-food .h1 {
    position: absolute;
    top: 146px;
    text-align: center;
    width: 93%;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
  .piagam-isi-food  .h1.s1 {
      top: 149px;
      font-size: 14px;
  }
  .piagam-isi-food  .h1.s2 {
      top: 149px;
      font-size: 14px;
  }
  .piagam-isi-food  .h1.s2 {
      top: 149px;
      font-size: 13px;
  }

}




.preview{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  width:140px;
  opacity: 1
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.tip:hover{cursor:pointer;}
#slides,.slides-container div{min-width:960px!important;}
a:focus{outline:none;}
.ac{text-align:center;}
.btn-as{opacity: 0.5}
.al{text-align:left;}
.ar{text-align:right;}
.vc{vertical-align:middle!important; width: 25%}
.blk{display:block;}
.f-12{font-size:12px;line-height:16px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-merah,.fa-star,.rating-symbol{color:#ed1c24;}
.f-abu{color:#898989;}
.ps20{padding:0 20px;}
.no-mb{margin-bottom:0;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px;}
.mtb10{margin:10px 0 !important;}
.mb20,.box-info-1,.box-info-2{margin-bottom:20px;}
.mt5{margin-top:5px;}
.mt13{margin-top:13px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}
.mt100{margin-top:100px;}
.mt105{margin-top:105px;}
.mt110{margin-top:110px;}
.mt150{margin-top:150px;}
.pl20{padding-left:20px !important;}
.pl50{padding-left:50px !important;}
.hook{margin-top:50px;}
.bullet {padding: 0 10px;}
.w150{width:150px;}
.w420{width:420px;}
.w100p{width:100% !important;}
.fgmart tr td:nth-of-type(1),.fgmart tr th:nth-of-type(1){padding-left:0;}
.fgmart tr td{text-align:left !important;}
.db{display:block!important;}
.td-np td,.td-np th{padding:8px 0!important;}
.btn-ale{border-color:#ed1c24 !important;background:#fff;color:#ed1c24 !important}
input.hidden {position: absolute;left: -9999px;}
.navbar{border:none;background:url("../img/theme/bg_header.jpg") repeat-x;width:100%;min-width:960px;}
.logo{position:absolute;top:0;left:10px;z-index:50;box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.75);display:block;width:220px; height:120px;}
.menu-top{height:40px;}
.menu-top,.menu-main{margin:0;list-style:none;}
.menu-top>li,.menu-main>li{float:left;padding:13px 10px 0 10px;font-size:12px;color:#fff;}
.menu-top>.over{padding-top:9px;}
.menu-top>li:last-child{padding-top:12px;}
.tab,.laptop{float:left;}
.tab{width:15px;height:21px;background:url("../img/theme/icon_tablet.png") top left no-repeat;}
.laptop{width:24px;height:16px;background:url("../img/theme/icon_laptop.png") top left no-repeat;margin:3px 0 0 8px;}
.menu-top li{font-family: 'GuardianBold';}
.menu-main>li{padding:0;}
.menu-top a, .menu-main a,.menu-top em{color:#fff;}
.menu-main a{font-family: 'GuardianBold';font-size:14px;display:block;padding:14px 10px}
.menu-main a:hover{background:#FFF4F4;color:#c20e14 !important;text-decoration:none;}
.menu-main .aktif{background:#fce5e5;color:#c20e14 !important;text-decoration:none;}
.member-coupon{position:relative;margin-bottom:20px;}
.member-coupon .bb{float:left;width:150px;}
.member-coupon .br{float:left;width:115px;}
/* Spinning logo */
.bb img { display: inline;border:solid 3px #ffeed0;}
.bb img.reveal {opacity: 1;}
.bb img.animate {-webkit-animation: logointro 2s linear;animation: logointro 2s linear;}
.bb img.spin {-webkit-animation: logospin 1s linear;animation: logospin 1s linear;}
.bb a { position:relative; overflow: hidden; display: inline-block; max-width: 100%; }
.bb a:after {content: '';position: absolute;top: 0;left: -126px;width: 140px; height: 140px;background: url(../img/gloss.png) no-repeat center center; background-size: 100% 100%;}
.bb.gloss a:after {transition: left 1.8s linear;left: 100%;}
@-webkit-keyframes logointro {
  0% {opacity: 0;-webkit-transform: scale(0.2) rotateY(0deg);}
  25% { -webkit-transform: scale(0.4) rotateY(90deg); }
  50% { -webkit-transform: scale(0.6) rotateY(180deg); }
  75% { -webkit-transform: scale(0.8) rotateY(270deg); }
  100% {opacity: 1;-webkit-transform: scale(1) rotateY(360deg);}
}
@keyframes logointro {
  0% { opacity: 0;transform: scale(0.2) rotateY(0deg);}
  25% { transform: scale(0.4) rotateY(90deg); }
  50% { transform: scale(0.6) rotateY(180deg); }
  75% { transform: scale(0.8) rotateY(270deg); }
  100% {opacity: 1;transform: scale(1) rotateY(360deg);}
}
@-webkit-keyframes logospin {
  0% { -webkit-transform: rotateY(0deg); }
  50% { -webkit-transform: rotateY(90deg); }
  100% { -webkit-transform: rotateY(0deg); }
}
@keyframes logospin {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(90deg); }
  100% { transform: rotateY(0deg); }
}

.pencarian{height:400px;text-align:center;position:relative;margin-top:-20px;min-width:960px;}
.wrap-pencarian{width:640px;position:absolute;z-index:100;top:150px;left:50%;margin-left:-320px;}
.wrap-pencarian-fgmart{width:440px;position:absolute;z-index:100;top:77px;left:50%;margin-left:-220px;}
.wrap-pencarian h1,.wrap-pencarian-fgmart h1{margin:0 0 20px 0;color:#fff;text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);}
.wrap-pencarian-fgmart h1{font-size:26px;}
.box-pencarian{background:url("../img/theme/bg_glass.png"); padding:20px;border-radius: 3px;}
.box-pencarian .pull-left{width:410px;text-align:left;}
.box-pencarian .pull-right{width:170px;text-align:left;}
.box-pencarian .pull-right .btn,.box-pencarian .pull-right .dropdown-menu{width:170px;}

ol {
   list-style-position: outside;
   counter-reset: item;
}


/*ol > li:before {
    content: '';
    display: block;
    height: 1px;
}*/
ol > li::before {
    content: "";
    display: block;
    height: 1px;
    content: counter(item);
    counter-increment: item;
    margin-left: -2em;
}
ol.carousel-indicators li::before {
  display: none;
}

.media .row > div{margin-bottom:20px;}
.media .thumb{position:relative;}
.media .thumb img,.img-rounded,.media .thumb iframe{border-radius:5px;max-width:100%;width:100%;}
.media .thumb span {background:#ed1c24;color: #fff; display: block;font-size: 14px;left: 10px;padding: 5px 10px; position: absolute; top: 20px; width: 100px;z-index: 99;font-family: "GuardianBold";}
.media .info em{font-size:12px;}
.media .info ul li a{color:#ed1c24;}
.media .info h3{font-size:16px; margin:0;}
.media .info .sembunyi{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.media .info ul,.media .info ul li{margin:0;}
.jarak1 .row {
/*margin-bottom:32px;*/
}
.jarak18 .row {
   float: left;
   width: 98%;
}

.list-number {color: #898989; font-size: 15px;margin-top: 0;padding: 0 0 0 25px;}
/*.list-number li {
  margin-bottom: 5px;padding-left: 5px;}*/
.list-number li {
    margin-bottom: 5px;
    padding-left: 5px;
    list-style: decimal inside none;
    display: block;
}

.list-number li h4 {color: #464646; font-size: 15px; font-style: normal; margin: 0;}

.box-info-1>.pull-left{width:400px;background:#ffeed0;border-radius:3px;}
.box-info-1>.pull-left>img{border-radius:3px 3px 0 0;width:100%;}
.box-info-1>.pull-left>div{padding:10px;}
.box-info-1>.pull-right{width:280px;position:relative;height:100%;}
.box-info-1 .open{color: #FFF;
font-size: 15px;
margin-left: 10px;
font-weight: bold;
text-transform: uppercase;}
.box-info-1 strong{
   color: #FFF;
   font-size: 15px;
   margin-left: 10px;
   font-weight: bold;
   text-transform: capitalize;
}
.detail-menu a,.detail-menu>span{
  display: inline-block;
  font-size: 22px;
  margin: 0px 25px 0px 0px;
  cursor: pointer;
}
.detail-menu{
  margin-bottom: 10px;
}
.detail-menu a:hover,.detail-menu>span:hover {color: #ff0000;}
.detail-menu .social-share{position:relative;}
.detail-menu .social-box{position:absolute;z-index:999;top:38px;left:-162px;width:252px; background:#fff;display:none;}
.statistik em {
  display: flex;
font-size: 14px;
margin-bottom: 10px;
float: left;
margin-right: 13px;
}
.statistik em i {
  display: inline-block;
font-size: 16px;
font-style: normal;
padding-right: 10px;
}
.signature img {
  width: 50px;
  border-radius: 35px;
  padding: 0px;
}
.tag a {font-style: italic;}

.box-info-2 .box-head{background: #ffeed0; font-family: "GuardianBold";margin-bottom: 15px;padding: 10px; position: relative;}
.box-info-2 .box-head a{font-family: "GuardianRegular";}
.box-info-2 .box-head a,.box-info-2 .box-head i {color: #ff0000;position: absolute; right: 10px; top: 10px;}
.box-info-2 .box-head i:hover{cursor:pointer;}
.tab-panel .list-unstyled li,.box-panel .list-unstyled li{margin-bottom:10px;}
.tab-panel .list-unstyled em,.box-panel .list-unstyled em{display:block;font-family: "GuardianBold";color:#666;font-style:normal;}
.tab-panel .list-unstyled span{display:inline-block;width:196px;margin:0 20px 5px 0;}
.tab-panel table{margin:5px 0;width:546px;}
.tab-panel table td{padding:5px 10px;}
.tab-panel table tr td .tip{color:#666;float:right;}
.tab-panel table tr td .tip:after{clear:both;}
.tab-panel table tr td:nth-of-type(1){width:130px;font-family: 'GuardianBold';}
.tab-panel table tr td:nth-of-type(3){text-align:center;width:120px;}
.tab-panel table tr td:nth-of-type(3) strong,#result table tr td:nth-of-type(3) em, #result table tr td:nth-of-type(3) span{display:block;float:left;}
.tab-panel table tr td:nth-of-type(3) span{font-size:30px;font-family: 'GuardianBold';}
.tab-panel table tr td:nth-of-type(3) em{padding:10px 0 0 10px;}
.tab-panel table tr td:nth-of-type(2){text-align:right;width:105px;}
.rating-symbol span{cursor:pointer;}

.member-carousel{padding:10px 0 10px 5px; border-top: 1px solid #898989; border-bottom: 1px solid #898989;margin-bottom:20px;}
.member-carousel img{border-radius:3px;}

.logo-footer{display:block; float:left;}
.social{float:right;list-style:none;margin:0;padding:0;}
.social li{float:left;margin-left:10px;}
.social li em{padding-top:5px;display:block;}
.social .tab,.social .laptop{background-position:bottom left;}
.footer-menu, .footer-menu ul,.bot-menu{list-style:none;padding:0;margin-bottom:5px;}
.footer-menu,.pl60{margin-left:60px;}
.footer-menu>li{float:left; margin-left:37px;font-size:12px;}
.footer-menu>li:first-child{margin:0;}
.footer-menu ul li:first-child{font-family: 'GuardianBold';font-size:14px;}
.footer-menu ul li a{line-height:20px;}
.bot-menu li{display:inline-block; margin-right:24px;font-size:12px;}

.modal-konten a{color:#ed1c24;}
.modal-konten h1{font-size:18px;font-family: 'GuardianBold';text-align:center;}
.modal-konten img{border-radius: 5px 5px 0 0;}
.modal-footer{background:#ffeed0;text-align:center;border-radius: 0 0 5px 5px;}

.thumbnail h2{margin:5px 0; font-size:18px;}
.grid {list-style: none;padding:0;margin:0 -7px;color:#464646;}
.grid li {display: inline-block;width: 212px;margin: 0;	margin: 0 7px 10px;text-align: left;position: relative;}
.grid figure {margin: 0;	position: relative;}
.grid figure img {max-width: 100%;display: block;position: relative;}
.grid figcaption {position: absolute;top: 0;left: 0;padding:10px;background:url("../img/theme/bg_glass.png");width:212px;}
.grid figcaption .pull-left{width:130px;}
.grid figcaption .pull-right{width:55px;}
.grid figcaption h3 {margin: 0;padding: 0;font-size:16px;}
.grid figcaption .pull-right i {padding: 0 5px;display: inline-block;font-size:16px;}
.cs-style-3 figure {overflow: hidden;}
.cs-style-3 figcaption {height: 50px;top: auto;bottom: 50px;	opacity: 1;	-webkit-transform: translateY(100%);-moz-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%);-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;transition: transform 0.4s, opacity 0.1s 0.3s;}
.no-touch .cs-style-3 figure:hover figcaption,.cs-style-3 figure.cs-hover figcaption {
/*opacity: 1;	-webkit-transform: translateY(0px);-moz-transform: translateY(0px);	-ms-transform: translateY(0px);	transform: translateY(0px);	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;-moz-transition: -moz-transform 0.4s, opacity 0.1s;transition: transform 0.4s, opacity 0.1s;*/
}

.holder {position:relative;height:16px;}
.holder a {font-size: 14px;position:absolute;top:0;display:block;cursor:pointer;}
.holder a.jp-previous {left:0;}
.holder a.jp-next {right:0;}
.holder a.jp-current, a.jp-current:hover { color: #FF4242; font-weight: bold;}
.holder a.jp-disabled, a.jp-disabled:hover { color: #bbb;text-decoration:none;}
.holder a.jp-current, a.jp-current:hover,.holder a.jp-disabled, a.jp-disabled:hover {cursor: default;background: none;}
.holder span { display:none;}

.voter-list{margin:0;font-size:14px;list-style:none;padding:0;}
.voter-list img,.grid figure img{border-radius: 3px;}
.voter-list img,.voter-list span{float:left;}
.voter-list span{padding:16px 0 0 30px;}
.voter-list li {margin-bottom:10px;}
.voter-list li span:nth-of-type(1){width:426px;}
.voter-list li span:nth-of-type(-n+2){font-family: 'GuardianBold';}

.map_canvas{width:668px;height:500px;position:relative;margin:10px auto;}

.border-form .form-control,#ale-table_filter .form-control,#ale-table_length .form-control{border:1px solid #ccc !important;}
.border-form .form-control .btn{border:none;font-family: "GuardianRegular",Helvetica,Arial,sans-serif;color:#999;}
.sort-form .form-control,.sort-form .form-group,.sort-form select.form-control{width:100%;}
.filter-form .select2{width:180px !important;}
.filter-form .panel, .filter-form .panel-default,.filter-form .panel-heading,.filter-form .panel-body{border:none;box-shadow:none;padding:0 0 0 0px;}
.filter-form .panel-heading {background:none;
/*color: #ed1c24;*/
font-family: "GuardianRegular",Helvetica,Arial,sans-serif;
margin-bottom:10px;}
.filter-form .panel-heading h4 {background:none;font-family: "GuardianRegular",Helvetica,Arial,sans-serif;}
.filter-form .panel-title{font-size: 18px;
margin-top: 0px;
margin-left: 15px;}

.bar{margin:20px 0;}
.bar li b{background:#898989;color:#fff;border-radius:13px;display:inline-block;width:27px;padding:3px 0;text-align:center;margin-right:5px;}
.bar li{color:#898989;background:#fff;text-transform:uppercase;}
.bar .aktif b{background:#ed1c24;}
.bar .aktif li{color:#ed1c24;}

.cart-table td{vertical-align:middle!important;}
.cart-table tfoot td{border-bottom: 1px solid #e9d7b7;}
.upload{width:340px; height:auto; min-height: 90px; background:url("../img/theme/bg_upload.jpg") no-repeat;}
.upload img{
  width:145px; height:auto; min-height: 90px;
}
.upload-cover{width:500px; height:185px; background:url("../img/bg_land.jpg") no-repeat;}
.upload-cover img{width:500px; height:185px;}
.upload-profil{width:140px; height:140px; background:url("../img/bg_profil.jpg") no-repeat;}
.upload-profil img{width:140px; height:140px;}
.upload-profil:hover,.upload-cover:hover,.upload:hover{cursor:pointer;}
.table .checkbox{position:relative;top:-8px;}

.member-bg {position:relative;height:357px;margin-top:-20px;min-width:960px;}
.member-desc{background:#fdf8f0; width:965px;padding:20px 0;position:relative;margin:0 auto;}


.member-desc .foto_profil{background:#fff8f0;padding:5px;width:140px;position:absolute;top:-95px;display:block;}
.member-desc .detail{position:relative;margin-top:50px;}
.member-desc h3{margin-top:0;}
.member-social li{margin-bottom:10px;}
.member-social li img{padding-right:10px;display:inline-block;}

.text-left .no-mb{margin-top:0;}
label.error{display:block;font-size:12px;color:#ed1c24;font-weight:400;padding-top:5px;margin-bottom:0;}
.buka:hover,.buka2:hover{cursor:pointer;}
.help-block{font-size:12px;}
#accordion .panel{overflow:visible;}
.search-banner{width:220px;height:315px;background:#ffeed0;}
.search-banner .dropdown-menu{width:191px;}
.sign-banner{width:220px;height:315px;background:url("../img/banner/banner1.jpg") no-repeat;}
.sign-banner p{color:#898989;}
.box-search{margin-left:-10px;float:left;width:500px;}
.dataTables_info{color:#999!important;}
.scrollToTop{
   background: #ED1C24 none repeat scroll 0% 0%;
   color: #FFF;
   text-decoration: none;
   position: fixed;
   bottom: 226px;
   right: 20px;
   display: none;
   opacity: 0.4;
   font-size: 20px;
   border-radius: 28px;
}
.scrollToTop:hover{color:#fff;opacity: 1;}

.scrollToNext{
   background: #ED1C24 none repeat scroll 0% 0%;
   color: #FFF;
   text-decoration: none;
   position: fixed;
   bottom: 226px;
   right: 20px;
   display: none;
   opacity: 0.4;
   font-size: 20px;
   border-radius: 28px;
}
.scrollToNext:hover{color:#fff;opacity: 1;}

.no-geolocation {display: none;}
#signup-daftar .form-inline .form-group{margin:0 !important;}
#signup-daftar .form-inline .form-control{width:199px;}
.head-pan{border-radius: 5px !important; border: 1px solid rgb(237, 28, 36) !important;}
.jud-pan{background: rgb(237, 28, 36) none repeat scroll 0% 0% !important; color: rgb(255, 255, 255) !important; padding: 6px !important; margin-bottom: 0px !important;
font-family: "GuardianBold",Helvetica,Arial,sans-serif !important;}
.mt14{margin-top: 14px}

.cup{
   position: absolute;
   padding: 0px;
   margin-top: -10px;
   margin-left: -10px;
}
.loadi{
   position: fixed; background: rgba(0, 0, 0, 0.58) none repeat scroll 0% 0%; height: 100%; width: 100%; z-index: 999; top: 0px; display: none;
}
.loadi img{
   position: inherit; margin: 18% 45%; border-radius: 25px; background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.akt{
color: rgb(225, 82, 88) !important;
}






.breadcrumba {
   display: inline-block;
   overflow: hidden;
   border-radius: 5px;
   counter-reset: flag;
   margin-bottom: 0;
   text-transform: capitalize;
   margin-bottom: 10px;
min-height: 35px;
}

.breadcrumba a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 25px 0 0px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumba a:first-child {
	padding-left: 0;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumba a:first-child:before {
	left: 0px;
}
.breadcrumba a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 0px;
}

/*hover/active styles*/
.breadcrumba a.active, .breadcrumba a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumba a.active:after, .breadcrumba a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumba a::after {
content: '/';
position: absolute;
top: 0;
right: 10px;
width: 7px;
height: 36px;
z-index: 1;
font-size: 21px;
}
/*we dont need an arrow after the last link*/
.breadcrumba a:last-child::after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumba a:bofore {
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: #ed1c24;
	transition: all 0.5s;
}
.flat a::after {
	background: white;

}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
background: #fff;
color: #F13C00;
}

.flat a:hover{
background: #fff;
color: #F13C00;
}

.flat a:hover:after{
background: #fff;
color: #000;
}

.skiptranslate {
    margin-bottom: -40px;
}



@media (min-width: 976px) {
  #map_canvas{
    height: 100% !important;
    position: inherit !important;
  }
  .white_content-map {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    padding: 24px;
    border: 5px solid #C00606;
    background-color: #FFF;
    z-index: 1002;
    overflow-y: auto;
    overflow-x: hidden;
}
  .radio-inline .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px !important;
  }
    .mt15{margin-top:30px;}
   .logo2{ display: none}
   .drawer-nav{ display: none}
   .men-side{ display: none;}
   /* .mene-atas{ } */
   .det-men{ display: none;}
   .navbar {
       border: none;
       width: 100%;
       min-width: 960px;
   }
   .container {
       margin-right: auto;
       margin-left: auto;
       padding-left: 10px;
       padding-right: 10px;
       width: 960px;
       position: relative;
       min-width: 960px;
   }
   .pencari{
      display: none;
   }
   .dis-share{ display: none}
   .dis-globe{ display: none}
   .dis-plus{ display: none}
   .dis-cart{display: none}
   .iklanan{ display: none}
   .menu-bawah { display: none}
   .total-vote{ display: none;}
   .btn-cari{display: none;}
   .btn-caris{display: none;}
}
@media (min-width: 400px) and (max-width: 975px) {
  .form-control {
    display: block;
    width: 100px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    background-color: #ffffff;
    background-image: none;
    border: none;
    border-radius: 4px;
}
  .res-table{
    width: 100%;
margin-bottom: 15px;
overflow-y: hidden;
-ms-overflow-style: -ms-autohiding-scrollbar;
border: 1px solid #ddd;
  }
  .media .row > div.col-1 {
    margin-bottom: 3px;
}
  .mt-s10{
    margin-top: 10px;
  }
  .ml10-j{
    margin-left: 10px
  }
  .media {
    margin-top: 7px;
  }
  .mb-j20{
    margin-bottom: 0
  }
  .mb-j2{
    margin-bottom: 7px
  }
  .col-6 {
    width: 50%;
  }
  .row-m{
    margin-right: 0;
  }
  .col-17 {
    width: 100%;
  }
  .member-bg {position:relative;height:357px;margin-top:-20px;min-width:100%; width: 100%; background-size: cover;}
  .logo{
    display: block !important;
  }
  .logo {
      position: absolute;
      top: 0;
      left: 10px;
      z-index: 50;
      display: block;
     box-shadow: none;
      width: 198px;
      height: auto;
  }
  .logo2{
    display: none !important;
  }
  .drawer-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    overflow: hidden;
    width: 72%;
    height: 100%;
    color: #222;
    background-color: #fff;
    z-index: 999;
    margin-top: 81px;
  }
  .drawer--right .drawer-nav {
    right: -75%;
    -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .btn-caris{
    position: fixed;
    z-index: 999999;
    height: 53px;
    opacity: 1;
    top: 85px;
    transition: 0.7s all 0s ease;
    right: -6px;
    width: 55px;
  }
  .btn-caris img{
        width: 100%;
  }
  .btn-caris:hover{
     opacity: 1;
     transition: 0.3s all 0s ease;
  }
}
@media (min-width: 200px) and (max-width: 399px) {
  .btn-caris{
    position: fixed;
    z-index: 999999;
    height: 53px;
    opacity: 1;
    top: 65px;
    transition: 0.7s all 0s ease;
    right: -6px;
    width: 55px;
  }
  .btn-caris img{
        width: 100%;
  }
  .btn-caris:hover{
     opacity: 1;
     transition: 0.3s all 0s ease;
  }
  .logo{
    display: none !important;
  }
  .logo2{
    display: block !important;
  }
  .logo2 {
      position: absolute;
      top: 5px;
      left: 10px;
      z-index: 50;
      display: block;
     box-shadow: none;
      width: 40px;
      height: auto;
  }
  .drawer-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    overflow: hidden;
    width: 80%;
    height: 100%;
    color: #222;
    background-color: #fff;
  }
  .drawer--right .drawer-nav {
    right: -80%;
    -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
}
@media (min-width: 200px) and (max-width: 975px) {
  .preview{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 105px;
    opacity: 1;
  }

  body{padding-top:65px }
  input.time {
      width: 95px;
  }
  .radio.radio-inline.radio-danger {
      width: 100%;
  }
  #map_canvas{
    height: 100% !important;
    position: inherit !important;
  }
  .white_content {
    display: none;
    position: fixed;
    top: 20%;
    left: 5% !important;
    width: 90% !important;
    height: 56% !important;
    padding: 24px !important;
    border: 5px solid #C00606;
    background-color: #FFF;
    z-index: 1002;
    overflow-y: auto;
    overflow-x: hidden;
}
.white_content-map {
  display: none;
  position: fixed;
  top: 20%;
  left: 5% !important;
  width: 90% !important;
  height: 60% !important;
  padding: 24px !important;
  border: 5px solid #C00606;
  background-color: #FFF;
  z-index: 1002;
  overflow-y: auto;
  overflow-x: hidden;
}
.white_content-map #map{
  height: 75% !important;
}
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    background-color: #ffffff;
    background-image: none;
    border: none;
    border-radius: 4px;
}
  .res-table{
    width: 100%;
margin-bottom: 15px;
overflow-y: hidden;
-ms-overflow-style: -ms-autohiding-scrollbar;
border: 1px solid #ddd;
  }
  .bot-menu li {
    display: inline-block;
    margin-right: -2px;
    font-size: 12px;
    width: 25%;
    /* font-family: 'GuardianBold'; */
}
  .media .row > div.col-1 {
    margin-bottom: 3px;
}
  .mt-s10{
    margin-top: 10px;
  }
  .ml10-j{
    margin-left: 10px
  }
  .media {
    margin-top: 7px;
  }
  .mb-j20{
    margin-bottom: 0
  }
  .mb-j2{
    margin-bottom: 7px
  }
  .col-6 {
    width: 50%;
  }
  .row-m{
    margin-right: 0;
  }
  .col-17 {
    width: 100%;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .signin{
    padding: 5px 7px;
    background: #fff;
    border-radius: 25px;
    margin-right: 10px;
  }

  .signout{
    padding: 5px 7px;
    background: #a0a0a0;
    border-radius: 25px;
    color: #fff;
  }
  .mt-0{
    margin-top: 0 !important;
  }
  .mb-0{
    margin-bottom: 5px !important;
  }
  .ml-10{
    margin-left: 10px;
  }
  .list-inline > li:first-child {
      padding-left: 5px;
  }
  .list-inline > li {
      padding-left: 5px;
      padding-right: 5px;
      display: block;
  }
  .media .thumb span {
      background: #ed1c24;
      color: #fff;
      display: block;
      font-size: 14px;
      left: 0px;
      padding: 5px 10px;
      position: absolute;
      top: 20px;
      width: 100px;
      z-index: 99;
      font-family: "GuardianBold";
  }
  .media .thumb img, .img-rounded, .media .thumb iframe {
    border-radius: 0px;
  }
  .no-padding{
    padding: 0 !important;
  }
  .total-vote em{
    font-size: 14px;
  }
  .clos{
    float: right;
    z-index: 999999;
    width: 45px;
    position: absolute;
    right: 10px;
    background: #fff;
    border-radius: 50px;
    padding: 11px;
    top: 13px;
    height: 45px;
  }
  .breadcrumb {
    margin-bottom: -15px;
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}
  .statistik em {
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 18px;
    display: inline-block;
  }
  .statistik {
    margin-bottom: 10px;
  }
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    min-height: .01%;
    overflow-x: auto;

  }
  .filter-form{
    padding-bottom: 31px;
  }
  .hook{margin-top:0px;}
   .breadcrumba{

   }
   .btn-cari{
      position: fixed;
      z-index: 999999;
      height: 53px;
      opacity: 1;
      top: 65px;
      transition: 0.7s all 0s ease;
      right: -6px;
   }
   .btn-cari:hover{
      opacity: 1;
      transition: 0.3s all 0s ease;
   }
   .select2.select2-container.select2-container--default {
      width: 100% !important;
   }
   .search_kiri{
     position: fixed;
     z-index: 999;
     width: 100%;
     display: none;
     background: #fff;
     top: 0;
     height: 100vh;
     overflow: auto;
     padding: 19px;
   }
   .search_kiri_tam{ display: block}
   .total-vote{
      text-align: center;
      font-size: 24px;
      vertical-align: middle;
   }
   .nav-tabs > li {
       float: left;
       margin-bottom: 4px;
       width: 33.33%;
      text-align: center;
   }
   .nav-tabs > li:nth-child(7) {
      width: 100%
   }
   .box-info-1 > .pull-left{
      width: 100% !important;
   }
   .box-info-1 > .pull-right{
      width: 100% !important;
      text-align: center;
      padding-top: 10px;
   }
   .menu-bawah {
      margin-top: 20px;
      float: left;
      width: 100%;
   }
   .menu-bawah a {
     border: 1px #E70000 solid;
      padding: 10px 20px;
      border-radius: 25px;
      color: #E70000;
      width: 96%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 20px;
      margin: 10px 2%;
   }
   .hilang{ display: none}
   .iklanan{
     padding: 0px;
     background: rgb(255, 255, 255) none repeat scroll 0% 0%;
     float: left;
     width: 100%;
     clear: both;
     position: relative;
     bottom: -250px;
     text-align: center;
     box-shadow: 0px 4px 20px rgb(221, 221, 221);
     z-index: 99;
   }
   .iklanan img{
      max-height: 150px;
      width: 100%;
      height: auto;
   }
   .iklanan .rlt{
      margin: 0px;
      padding: 0px;
      width: 100%;
      float: left;
   }
   .iklanan .tutup{
     float: right;
     margin-top: -25px;
     max-width: 100px !important;
     position: absolute;
     right: 15px;
     border: 5px solid #fff;
     border-radius: 25px;
   }
   .iklanan .tutup img{
      max-width: 100px;
          width: 40px;
   }
   .dis-share{
      color: rgb(0, 0, 0);
      z-index: 9;
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      height: 400px;
      top: 56px;
      box-shadow: 5px 7px 12px rgb(75, 75, 75);
      display: none;
      overflow-y: auto;
      z-index: 991;
   }
   .dis-share .head{
      background: #F9F5EF none repeat scroll 0% 0%;
      font-family: "gert";
      font-size: 28px;
      color: #898989;
      padding: 10px;
   }
   .dis-share .body{
      background: #FFF none repeat scroll 0% 0%;
      color: #898989;
      position: relative;
      float: left;
      width: 100%;
      padding: 0 30px 20px;
   }

   .dis-globe{
     color: rgb(0, 0, 0);
     z-index: 991;
     position: absolute;
     background: rgb(255, 255, 255) none repeat scroll 0% 0%;
     width: 100%;
     height: 125px;
     top: 58px;
     box-shadow: 5px 7px 12px rgb(75, 75, 75);
     display: none;
     overflow-y: auto;
     z-index: 991;
   }
   .goog-te-menu2{
     width: 163% !important;
     overflow: auto !important;
      overflow-y: hidden !important;
      -ms-overflow-style: -ms-autohiding-scrollbar;

   }

   .dis-globe .head{
      background: #F9F5EF none repeat scroll 0% 0%;
      font-family: "gert";
      font-size: 28px;
      color: #898989;
      padding: 10px;
   }
   .dis-globe .body{
      background: #FFF none repeat scroll 0% 0%;
      color: #898989;
      position: relative;
      float: left;
      width: 100%;
      padding: 0 30px 20px;
   }

   .dis-plus{
      color: rgb(0, 0, 0);
      z-index: 9;
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      height: 400px;
      top: 57px;
      box-shadow: 5px 7px 12px rgb(75, 75, 75);
      display: none;
      overflow-y: auto;
      z-index: 991;
   }
   .dis-plus .head{
      background: #F9F5EF none repeat scroll 0% 0%;
      font-family: "gert";
      font-size: 20px;
      color: #898989;
      padding: 10px;
   }
   .dis-plus .body{
      background: #FFF none repeat scroll 0% 0%;
      color: #898989;
      position: relative;
      float: left;
      width: 100%;
      padding: 0 30px 20px;
   }
   .dis-cart{
      color: rgb(0, 0, 0);
      z-index: 9;
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      height: 400px;
      top: 57px;
      box-shadow: 5px 7px 12px rgb(75, 75, 75);
      display: none;
      overflow-y: auto;
      z-index: 991;
   }
   .dis-cart .head{
      background: #F9F5EF none repeat scroll 0% 0%;
      font-family: "gert";
      font-size: 28px;
      color: #898989;
      padding: 10px;
   }
   .dis-cart .col-cart{
      width: 50%;
      float: left;
      padding: 15px;
   }
   .dis-cart .col-cart img{
      margin-bottom: 5px;
   }
   .footer-menu, .pl60{
      margin-left: 0;
   }
   .footer-menu > li {
       float: left;
       margin-left: 0px;
       font-size: 12px;
       width: 25%;
   }
   .foot{background: rgb(249, 245, 239) none repeat scroll 0% 0%; width: 100%; padding: 15px;}
   .foot img{ padding: 5px; width: 40px}
   .goog-te-gadget-simple .goog-te-menu-value span{
      color: #000 !important;
   }
   .col-8a {
       width: 100%;
   }
   .col-4b {
    width: 50%;
    float: left;
    margin: 1% 0;
   }
   .col-4c {
    width: 30%;
    float: left;
    margin: 1%;
   }
   .col-4a {
     width: 50%;
    float: left;
    margin:0 0 0% 0;
   }
   .col-6a {
     width: 48%;
     padding: 0 10px;
    float: left;
    margin:0 0 0% 0;
   }
   .col-7.info.col-8a {
    height: 160px;
  }
   .col-4a:nth-child(2) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(3) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(6) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(7) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(10) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(11) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(14) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(15) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(18) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(19) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(22) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(23) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(26) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(27) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(30) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(31) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(34) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(35) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(38) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(39) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(42) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(43) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(46) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(47) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(50) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(51) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(54) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(55) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(58) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(59) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(62) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(63) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(66) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(67) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(70) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(71) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(74) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(75) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(78) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(79) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(82) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(83) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(86) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(87) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(90) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(91) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(94) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(95) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(98) {
      background: rgba(255, 253, 245, 0.78);
   }
   .col-4a:nth-child(99) {
      background: rgba(255, 253, 245, 0.78);
   }
   .det-men{ display: block;}
   .wi50{width: 50%; float: left}
   .wi50 .col-8{ width: 100%}
   .thumb img{ width: 100%; height: auto;}
   .navbar {
     border: none;
         background: rgb(194, 14, 20);
         width: 100%;
         min-width: 100%;
         position: fixed;
         z-index: 999;
         top: 0;
   }
   #slides{min-width: 100% !important;}
   .pencarian {
       height: 300px;
       text-align: center;
       position: relative;
       margin-top: -20px;
       min-width: 100%;
   }

   .logo img{ width: 100%}
   .pencari{
      display: block;
      margin-bottom: -53px;
      z-index: 9;
      position: inherit;
      background: #fff;
      padding: 25px 0px 10px;
   }
   .box-pencarian {
      background: none;
      padding: 0;
      border-radius: 3px;
      margin-top: -138px;
   }
   .box-pencarian .pull-left {
       width: 100%;
       text-align: left;
       float: none !important;
   }
   footer{
      min-width: 100%; height: auto;
      padding: 10px;
   }
   .container {
       margin-right: auto;
       margin-left: auto;
       padding-left: 0px;
       padding-right: 0px;
       width: 100%;
       position: relative;
       min-width: 100%;
   }
   .mene-atas{
      display: none;
   }
   .men-side{
      display: block;
      background: none;
      border: none; float: left;
   }
    .men-side img {
        width: 27px;
        margin: 15px 6px 15px;
    }
   .side-kanan{
      display: none;
   }
   .judul-akun {
       background: url("../images/overlay.jpg") 100% 100%/cover;
       height: auto;
       width: 100%;
       position: relative;
       padding: 30px 5%;
       margin-top: 30px;
   }
   .text-red {
       color: #ed1c24;
   }
   .abu {
    color: #898989;
   }
   .gesb {
       font-family: 'ger';
       margin: 5px 0;
   }
}
.bintang{
  min-height: 40px;
}
.tablebintang{
  width: 100% !important;
}
.tablebintang td{
  width: 50% !important;
}

.tablebintanga{
  width: 100% !important;
}
.tablebintanga td{
  width: 33% !important;
}
@media screen and (max-width: 1024px){
.member-bg {position:relative;height:357px;margin-top:-20px;min-width:100%; width: 100%; background-size: cover;}
.member-desc{background:#fdf8f0; width:100%;padding:20px 0;position:relative;margin:0 auto;}
  .member-desc .foto_profil {
      background: #fff8f0;
      padding: 5px;
      width: 140px;
      position: relative;
      top: -95px;
      display: block;
      margin: 0 auto;
  }
  .cfr{
  }
  .member-desc .detail {
    position: relative;
    margin-top: -90px;
    text-align: center;
    margin-bottom: 10px;
  }
  .kolj{
    text-align: center;
  }
}
.sim-pad{
  padding: 5px 10px;
}


@media (max-width: 975px) and (min-width: 768px) {
  /* div#:1.menuBody{ */
  .menuBody{
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid #6b90da;
    overflow: hidden;
    padding: 4px;
    width: 616px !important;
    max-width: 620px !important;
    margin-left: 61px;
  }
  .goog-te-menu2 {
      background-color: #ffffff;
      text-decoration: none;
      border: 1px solid #6b90da;
      overflow: hidden;
      padding: 4px;
      width: 616px !important;
      max-width: 620px !important;
      margin-left: 61px;
  }
  .pencarian {
    height: 300px;
    text-align: center; 
    position: relative;
    margin-top: 30px;
    min-width: 100%;
  }
  .hook {
    margin-top: 50px;
  }
  .men-side img {
    width: 49px;
    margin: 15px 6px 15px;
  }
  .kananku{
    width: 100%;
    margin-top: 25px;
  }
  .kananku div {
    width: 12% !important;
    margin-left: 7%;
  }
  .col-8.info.col-8a em {
    font-size: 15px;
  }
  .media .info h3{
    font-size: 25px;
  }
  ul.list-unstyled.f-12 {
    font-size: 15px;
    line-height: 18px;
  }
  .signature img {
    width: 65px;
    padding-right: 20px;
  }
  .kiriku i {
    font-size: 46px;
    padding-right: 25px;
  }
  .kiriku img {
    width: 73px;
    padding-right: 5px;
  }
  .statistik em i {
    display: inline-block;
    font-size: 38px;
    font-style: normal;
    padding-right: 10px;
  }
  .statistik em {
    font-size: 20px;
  }
  .white_content-map #map {
      height: 83% !important;
  }
}


@media (min-height: 300px) and (max-height: 400px){
  .logo {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 50;
    display: block;
    box-shadow: none;
    width: 145px;
    height: auto;
  }
  .hook{
    margin-top: 20px;
  }
}
