<span style='color: #000'>72 frames</span>	<span style='color: #900'>72,960 KB</span>	<span style='color: #090'>18,861.45 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Notice</b>:  Use of undefined constant id_restaurant - assumed 'id_restaurant' in <b>C:\xampp\htdocs\foodieadmin\adminfg\mod\restaurant\a3.php</b> on line <b>424</b><br />
